<div class='row' style=' width: 95%;margin: 0 AUTO;'>
    <div style="text-align: center;background-color: lightgrey;"><img
            src="http://localhost:5000/public/assets/img/titaniologo.png" alt="Web Builder" class="img-responsive"
            style="margin:0 auto; width:150px;" /></div>
    <div background-size: contain;background-repeat: no-repeat;background-position: center;">
        <h1
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
            Dear {{USERNAME}},</h1>
        <p
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
            We received a request to reset the password for your account.</p>
        <p
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
            To reset your password, click on the button below:</p>
        <p
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
        <p>Reset Link: <a href="{{LINK}}">Reset Password</a></p>
        <p style="margin: 0px;">Regards,</p>
        <p style="margin: 0px;">node-mysql </p>
        <p style="margin: 0px;"> Admin@node-mysql.com </p>
        <p style="margin: 0px;"> +971 4 241 7179 </p>
        <br />
    </div>
    <div style="background-color: lightgrey;padding: 5px;">
        <p style="padding-bottom: -1px;margin: 0px;margin-left: 20px;<%= style; %>">node-mysql</p>
        <p style="margin-top: 0x;margin: 0px;margin-left: 20px;<%= style; %>">BB2, Mazaya Business Avenue - 2602, 26TH
            FLOOR - Dubai - United Arab Emirates</p>
        <p style="margin: 0px;margin-left: 20px;<%= style; %>"> +971 4 241 7179 · support@node-mysql.com </p>
    </div>
</div>