<div class='row' style=' width: 95%;margin: 0 AUTO;'>
        <h1
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
            Dear {{NAME}},</h1>
        <p
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
            You have successfully registered to our domain.</p>
        <p
            style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';color: black !important;">
        <p>Website Link: <a href="{{URL}}">Node-Mongoose</a></p>
        <p style="margin: 0px;">Regards,</p>
        <p style="margin: 0px;">node-mongoose </p>
        <p style="margin: 0px;"> Admin@node-mongoose.com </p>
        <p style="margin: 0px;"> +971 4 241 7179 </p>
        <br />
    </div>
    <div style="background-color: lightgrey;padding: 5px;">
        <p style="padding-bottom: -1px;margin: 0px;margin-left: 20px;<%= style; %>">node-mongoose</p>
        <p style="margin-top: 0x;margin: 0px;margin-left: 20px;<%= style; %>">BB2, Mazaya Business Avenue - 2602, 26TH
            FLOOR - Dubai - United Arab Emirates</p>
        <p style="margin: 0px;margin-left: 20px;<%= style; %>"> +971 4 241 7179 · support@node-mongoose.com </p>
    </div>
</div>