<% if(typeof success !=='undefined' ) { if(success !='' ) { %>
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        <%= success %>
    </div>
    <br>
<% } } %>

<% if(typeof error !=='undefined' ) { if(error !='' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i> Alert!</h5>
        <%= error %>
    </div>
    <br>
<% } } %>

<% if(typeof messages.message !=='undefined' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <%= messages.message %>
    </div>
    <br>
<% } %>

<% if (typeof messages.error !=='undefined' ) { %>
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert"
            aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
        <% if (Array.isArray(messages.error)) { %>
            <ul>
                <% messages.error.forEach(function(e) { %>
                    <li>
                        <%= e.msg %>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </div>
<% } %>